/* * {
  box-sizing: border-box;
} */

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

nav ul li:hover ~ .cursor {
  transform: scale(3);
  visibility: visible;
}

nav ul li:hover .cursor {
  visibility: visible; /* Show cursor when hovering over li */
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  visibility: hidden;
}
header {
  background-color: #000000; /* Bright yellow */
  color: #ffffff;
  /* text-align: center; */
  padding: 20px 60px 30px 60px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Space between logo and menu */
  align-items: center; /* Center items vertically */
}

.logo {
  display: flex; /* Use Flexbox to align items in a row */
  align-items: center; /* Vertically center items */
  text-decoration: none;
}

.logo h1 {
  color: #ffffff;
  font-size: 24px;
  margin: 0px 0px 0px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

main {
  padding: 20px;
  color: #ffffff;
}

.menu-item {
  color: #f4f4f4;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  background-color: #000000;
}

button {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838; /* Darker green */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
